In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [58]:
collater=open("allnames.csv","w+") 

for i in range(1880,2015):
    f = open("Names/yob"+str(i)+".txt")
    for row in f:
        collater.write(str(i) + ', ' + row)
    f.close()
collater.close()

In [59]:
df = pd.read_csv('allnames.csv')

In [60]:
df.columns = ['Year', 'Name', 'Sex', 'Freq']
df.head()

   Year        Name Sex  Freq
0  1880        Anna   F  2604
1  1880        Emma   F  2003
2  1880   Elizabeth   F  1939
3  1880      Minnie   F  1746
4  1880    Margaret   F  1578

In [62]:
# 3-1 : input k, XXXX -> top k names from the year XXXX

print('enter k: ')
k = int(input())
print('enter yyyy: ')
y = int(input())

# temp = open("temp.csv", "w+")
# f1 = open("Names/yob"+str(y)+".txt")
# for r in f1:
#    temp.write(r)
# f1.close()
# temp.close()

df1 = df[df['Year']==y]
df1 = df1.astype({'Freq': int})
df1.nlargest(k, 'Freq', keep='all')

enter k:
enter yyyy:

         Year          Name Sex   Freq
1186454  1994       Michael   M  44462
1186455  1994   Christopher   M  34797
1186456  1994       Matthew   M  33646
1170701  1994       Jessica   F  32117
1186457  1994        Joshua   M  31372
1186458  1994         Tyler   M  30477

In [78]:
# 3-2 : input Name -> freq for men & women of same Name

name = input()

df[(df['Name']==name) & (df['Sex']=='M'), 'Freq'].sum()
df[(df['Name']==name) & (df['Sex']=='F'), 'Freq'].sum()

InvalidIndexError: (0          False
1          False
2          False
3          False
4          False
           ...
1825731    False
1825732    False
1825733    False
1825734    False
1825735    False
Length: 1825736, dtype: bool, 'Freq')

In [ ]:
# 3-3 : relative frequency